.rightBar {
  flex: 3;
  margin-top: 28px;
}

.rightBarWrapper {
  padding: 20px 20px 0 0;
}
.bdayContainer {
  display: flex;
  align-items: center;
}

.bdayImage {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

.bdayText {
  font-weight: 300;
  font-size: 15px;
}

.rightBarHr {
  margin-top: 15px;
  margin-bottom: 25px;
}

.advertise {
  width: 100%;
  border-radius: 10px;
}

.rightBarTitle {
  margin-top: 15px;
}

.friendList {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 15px;
}

.userInfoTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  font-weight: 500;
}
.rightBarInfo {
  margin-bottom: 30px;
}
.rightBarInfoItem {
  margin: 10px;
}
.rightBarInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.rightBarInfoValue {
  font-weight: 400;
}
.userFriendsTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  font-weight: 500;
}
.rightBarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

